@charset "UTF-8";
/*Обнуление*/
ul li {
  list-style: none;
}

/*--------------------*/
body {
  margin: 0 auto;
  max-width: 1600px;
  height: 5670px;
}

.ourservice .ourservice__link .link, .leading .leading__text .link, .late-article-lastlink .link {
  display: inline-block;
  margin-top: 40px;
  border: 2px solid blue;
  padding: 10px 40px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
}

.ourservice .ourservice__link .link:hover, .leading .leading__text .link:hover, .late-article-lastlink .link:hover {
  -webkit-box-shadow: 0 0 10px blueviolet;
          box-shadow: 0 0 10px blueviolet;
  border-radius: 30px;
  -webkit-transition: border-radius 0.5s ease-in;
  transition: border-radius 0.5s ease-in;
}

.ourservice .ourservice__link .link:active, .leading .leading__text .link:active, .late-article-lastlink .link:active {
  -webkit-transform: translateY(5px) translateX(5px);
          transform: translateY(5px) translateX(5px);
}

.ourservice .ourservice__link .link span, .leading .leading__text .link span, .late-article-lastlink .link span {
  padding-top: 15px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
}

.leading .leading__text h2, .app .app__text h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}

.leading .leading__text p, .app .app__text p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  opacity: 0.5;
}

/*первый блок*/
.trafalgar {
  position: relative;
  height: 800px;
  /*background-color: rgb(221, 140, 34);*/
}

.trafalgar .trafalgar__logo {
  display: inline-block;
  margin: 56px 0 0 191px;
  max-width: 200px;
  height: 41px;
}

.trafalgar .trafalgar__logo p:nth-child(1) {
  display: inline-block;
  background-color: blue;
  color: white;
  border-radius: 50%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  padding: 10px 17px;
  font-weight: 700;
}

.trafalgar .trafalgar__logo p:nth-child(2) {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
}

.trafalgar .trafalgar__menu {
  /*background-color: yellow;*/
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-left: 500px;
}

.trafalgar .trafalgar__menu a {
  margin: 20px;
}

.trafalgar .trafalgar__text {
  max-width: 445px;
  height: 338px;
  margin: 283px 965px 0 190px;
}

.trafalgar .trafalgar__text p:nth-child(1) {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.trafalgar .trafalgar__text p:nth-child(2) {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 21px;
  line-height: 32px;
  opacity: 0.5;
}

.trafalgar .trafalgar__text a {
  display: block;
  background-color: blue;
  max-width: 200px;
  height: 56px;
  border-radius: 45px;
  text-align: center;
}

.trafalgar .trafalgar__text a span {
  display: block;
  padding-top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.trafalgar .trafalgar__img {
  position: absolute;
  top: 177px;
  right: 163px;
}

/*второй блок*/
.ourservice {
  height: 1133px;
  /*border: 2px solid black;*/
  background: url("../img/ourservice/element.png") no-repeat 1278px 540px, url("../img/ourservice/Vector.png") no-repeat 2px 220px;
}

.ourservice .ourservice__text {
  text-align: center;
}

.ourservice .ourservice__text h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}

.ourservice .ourservice__text p {
  margin: 33px auto;
  max-width: 1020px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  opacity: 0.5;
}

.ourservice .ourservice__services {
  margin: 0 auto;
  max-width: 1120px;
  height: 745px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourservice .ourservice__services .ourservice__element {
  background-color: white;
  border-radius: 30px;
  max-width: 350px;
  height: 354px;
}

.ourservice .ourservice__services .ourservice__element img {
  display: block;
  margin: 40px 0 0 37px;
}

.ourservice .ourservice__services .ourservice__element h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  line-height: 56px;
  font-weight: 700;
  margin-left: 37px;
}

.ourservice .ourservice__services .ourservice__element p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300px;
  margin-left: 37px;
}

.ourservice .ourservice__link {
  height: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*третий блок*/
.leading {
  /*background: yellow;*/
  max-width: 1273px;
  height: 500px;
  margin: 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.leading > img {
  display: block;
}

.leading .leading__text {
  /*background-color: yellowgreen;*/
  width: 486px;
  height: 388px;
  margin: 50px;
}

/*четвертый блок*/
.app {
  background: url("../img/element.png") no-repeat 300px 250px;
  max-width: 1300px;
  margin: 0 auto;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.app > img {
  display: block;
}

.app .app__text {
  width: 420px;
  height: 430px;
  margin: 50px;
}

.app .app__text a {
  display: inline-block;
  margin-top: 40px;
  border: 2px solid blue;
  padding: 10px 40px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
}

.app .app__text a span {
  padding: 0px 20px 0px 0px;
  background: url("../img/Vector.png") no-repeat right white;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
}

/*пятый блок*/
.testimonial {
  max-width: 1220px;
  height: 502px;
  margin: 200px auto;
}

.testimonial__block {
  margin: 0 auto;
  background-image: linear-gradient(45deg, #c9c9da, #6060ff);
  background-image: -o-linear-gradient(45deg, #c9c9da, #6060ff);
  border-radius: 40px;
  max-width: 1120px;
  height: 425px;
}

.testimonial__block h2 {
  color: white;
  padding-top: 30px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.testimonial__block > p {
  text-align: center;
}

.testimonial__block1 {
  margin-top: 60px;
  /*background-color: brown;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonial__block1 > p {
  color: white;
  width: 420px;
  height: 120px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.testimonial__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 430px;
  /*background-color: yellow;*/
}

.testimonial__block2__pct {
  width: 133px;
  height: 133px;
  border-radius: 70px;
  overflow: hidden;
  border: 4px solid white;
}

.testimonial__block2__text {
  margin-top: 20px;
}

.testimonial__block2__text p:nth-child(1) {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.testimonial__block2__text p:nth-child(2) {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.testimonial__block3 {
  margin-top: 20px;
  text-align: center;
}

/*шестой блок, используя БЭМ*/
.late-article {
  height: 810px;
  margin: 150px;
  padding: 0 50px 0 50px;
  background: url("../img/latest_article/Vector.png") no-repeat 770px 0, url("../img/latest_article/element.png") no-repeat 5px 100px;
}

.late-article-text {
  text-align: center;
}

.late-article-text h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}

.late-article-info {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.late-article-info__element {
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
}

.late-article-info__element h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  margin-left: 32px;
}

.late-article-info__element p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-left: 32px;
  margin-right: 51px;
}

.late-article-info__element_link {
  margin: 25px 0 35px 32px;
  display: inline-block;
}

.late-article-info__element_link span {
  padding-right: 40px;
  background: url("../img/Vector (2).png") no-repeat right;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blue;
}

.late-article-lastlink {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer {
  background: url("../img/latest_article/element.png") no-repeat 10px 310px, linear-gradient(45deg, #1f1ff3, #d0d0ff);
  position: relative;
  top: 200px;
  width: 1600px;
  height: 432px;
}

.footer-trafalgar {
  position: absolute;
  top: 118px;
  left: 190px;
  width: 391px;
  height: 201px;
}

.footer-trafalgar__bigrights {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

.footer-trafalgar__smallrights {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.footer-trafalgar__logo h2 {
  display: inline-block;
  width: 41px;
  height: 41px;
  color: blue;
  background: url("../img/Ellipse 8.png") center no-repeat;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 26px;
  line-height: 47px;
  font-weight: 700;
}

.footer-trafalgar__logo p {
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.footer-blocks {
  position: absolute;
  top: 115px;
  left: 800px;
  width: 700px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-blocks__block h2 {
  margin-left: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}

.footer-blocks__block li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}
