body {
	margin: 0 auto;
	max-width: 1600px;
	height: 5870px;
}

%template__link {
	a {
		display: inline-block;
		margin-top: 40px;
		border: 2px solid blue;
		padding: 10px 40px;
		height: 30px;
		line-height: 30px;
		border-radius: 20px;
		&:hover {
			box-shadow: 0 0 10px blueviolet;
			border-radius: 30px;
			transition: border-radius 0.5s ease-in;
		}
		&:active {
			transform: translateY(5px) translateX(5px);
		}
		span {
			padding-top: 15px;
			font-size: 18px;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
				sans-serif;
			color: blue;
		}
	}
}

%template__text {
	h2 {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
			sans-serif;
		font-size: 36px;
		font-weight: 700;
		line-height: 56px;
	}
	p {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
			sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 30px;
		opacity: 0.5;
	}
}

/*первый блок*/
.trafalgar {
	position: relative;
	height: 800px;
	/*background-color: rgb(221, 140, 34);*/
	.trafalgar__logo {
		display: inline-block;
		margin: 56px 0 0 191px;
		max-width: 200px;
		height: 41px;
		p {
			&:nth-child(1) {
				display: inline-block;
				background-color: blue;
				color: white;
				border-radius: 50%;
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 26px;
				padding: 10px 17px;
				font-weight: 700;
			}
			&:nth-child(2) {
				display: inline-block;
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 24px;
			}
		}
	}
	.trafalgar__menu {
		/*background-color: yellow;*/
		display: inline-block;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
			sans-serif;
		font-size: 15px;
		margin-left: 500px;
		a {
			margin: 20px;
		}
	}
	.trafalgar__text {
		max-width: 445px;
		height: 338px;
		margin: 283px 965px 0 190px;
		p {
			&:nth-child(1) {
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 48px;
				font-weight: 700;
				line-height: 56px;
			}
			&:nth-child(2) {
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 21px;
				line-height: 32px;
				opacity: 0.5;
			}
		}
		a {
			display: block;
			background-color: blue;
			max-width: 200px;
			height: 56px;
			border-radius: 45px;
			text-align: center;
			span {
				display: block;
				padding-top: 15px;
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 18px;
				font-weight: 700;
				color: white;
			}
		}
	}
	.trafalgar__img {
		position: absolute;
		top: 177px;
		right: 163px;
	}
}
/*второй блок*/
.ourservice {
	height: 1133px;
	/*border: 2px solid black;*/
	background: url("../img/ourservice/element.png") no-repeat 1278px 540px,
		url("../img/ourservice/Vector.png") no-repeat 2px 220px;
	.ourservice__text {
		text-align: center;
		h2 {
			text-align: center;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
				sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 56px;
		}
		p {
			margin: 33px auto;
			max-width: 1020px;
			text-align: center;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
				sans-serif;
			font-size: 18px;
			line-height: 30px;
			font-weight: 300;
			opacity: 0.5;
		}
	}
	.ourservice__services {
		margin: 0 auto;
		max-width: 1120px;
		height: 745px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.ourservice__element {
			background-color: white;
			border-radius: 30px;
			max-width: 350px;
			height: 354px;
			img {
				display: block;
				margin: 40px 0 0 37px;
			}
			h2 {
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 24px;
				line-height: 56px;
				font-weight: 700;
				margin-left: 37px;
			}
			p {
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				font-size: 16px;
				line-height: 28px;
				font-weight: 300px;
				margin-left: 37px;
			}
		}
	}
	.ourservice__link {
		height: 125px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		@extend %template__link;
	}
}

/*третий блок*/
.leading {
	/*background: yellow;*/
	max-width: 1273px;
	height: 500px;
	margin: 150px auto;
	display: flex;
	justify-content: space-between;
	> img {
		display: block;
	}
	.leading__text {
		/*background-color: yellowgreen;*/
		width: 486px;
		height: 388px;
		margin: 50px;
		@extend %template__text;
		@extend %template__link;
	}
}
/*четвертый блок*/
.app {
	background: url("../img/element.png") no-repeat 300px 250px;
	max-width: 1300px;
	margin: 0 auto;
	height: 500px;
	display: flex;
	justify-content: space-around;
	> img {
		display: block;
	}
	.app__text {
		width: 420px;
		height: 430px;
		margin: 50px;
		@extend %template__text;
		a {
			display: inline-block;
			margin-top: 40px;
			border: 2px solid blue;
			padding: 10px 40px;
			height: 30px;
			line-height: 30px;
			border-radius: 20px;

			span {
				padding: 0px 20px 0px 0px;
				background: url("../img/Vector.png") no-repeat right white;
				font-size: 18px;
				font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
					sans-serif;
				color: blue;
			}
		}
	}
}
/*пятый блок*/
.testimonial {
	max-width: 1220px;
	height: 502px;
	margin: 200px auto;

	&__block {
		margin: 0 auto;
		background-color: blue;
		border-radius: 40px;
		max-width: 1120px;
		height: 425px;
		h2 {
			color: white;
			padding-top: 30px;
			text-align: center;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
				sans-serif;
			font-weight: 700;
			font-size: 36px;
			line-height: 48px;
		}
		> p {
			text-align: center;
		}
	}
	&__block1 {
		margin-top: 60px;
		/*background-color: brown;*/
		display: flex;
		justify-content: space-around;
		> p {
			color: white;
			width: 420px;
			height: 120px;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
				sans-serif;
			font-weight: 400;
			font-size: 19px;
			line-height: 30px;
		}
	}
	&__block2 {
		display: flex;
		justify-content: space-around;
		width: 430px;
		/*background-color: yellow;*/
		&__pct {
			width: 133px;
			height: 133px;
			border-radius: 70px;
			overflow: hidden;
			border: 4px solid white;
		}
		&__text {
			margin-top: 20px;
			p {
				&:nth-child(1) {
					color: white;
					font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
						Verdana, sans-serif;
					font-size: 22px;
					font-weight: 700;
				}
				&:nth-child(2) {
					color: white;
					font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
						Verdana, sans-serif;
					font-size: 18px;
					font-weight: 400;
				}
			}
		}
	}
	&__block3 {
		margin-top: 20px;
		text-align: center;
	}
}
/*шестой блок, используя БЭМ*/
.late-article {
	height: 810px;
	margin: 250px;
	.late-article-text {
		text-align: center;
		h2 {
			text-align: center;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
				sans-serif;
			font-size: 36px;
			font-weight: 700;
			line-height: 56px;
		}
	}
}
